In [1]:
import numpy as np 
import pandas as pd

In [2]:
# Series 数据结构
# Series 是带有标签的一维数组，可以保存任何数据类型（整数，字符串，浮点数，Python对象等）,轴标签统称为索引

import numpy as np
import pandas as pd  
# 导入numpy、pandas模块

s = pd.Series(np.random.rand(5))
print(s)
print(type(s))
# 查看数据、数据类型

print(s.index,type(s.index))
print(s.values,type(s.values))
# .index查看series索引，类型为rangeindex
# .values查看series值，类型是ndarray

# 核心：series相比于ndarray，是一个自带索引index的数组 → 一维数组 + 对应索引
# 所以当只看series的值的时候，就是一个ndarray
# series和ndarray较相似，索引切片功能差别不大
# series和dict相比，series更像一个有顺序的字典（dict本身不存在顺序），其索引原理与字典相似（一个用key，一个用index）

0    0.348444
1    0.580329
2    0.898883
3    0.049148
4    0.097992
dtype: float64
<class 'pandas.core.series.Series'>
RangeIndex(start=0, stop=5, step=1) <class 'pandas.core.indexes.range.RangeIndex'>
[0.34844358 0.58032891 0.89888317 0.04914839 0.09799185] <class 'numpy.ndarray'>

In [3]:
# Series 创建方法一：由字典创建，字典的key就是index，values就是values

dic = {'a':1 ,'b':2 , 'c':3, '4':4, '5':5}
s = pd.Series(dic)
print(s)
# 注意：key肯定是字符串，假如values类型不止一个会怎么样？ → dic = {'a':1 ,'b':'hello' , 'c':3, '4':4, '5':5}

a    1
b    2
c    3
4    4
5    5
dtype: int64

In [4]:
# Series 创建方法二：由数组创建(一维数组)

arr = np.random.randn(5)
s = pd.Series(arr)
print(arr)
print(s)
# 默认index是从0开始，步长为1的数字

s = pd.Series(arr, index = ['a','b','c','d','e'],dtype = np.object)
print(s)
# index参数：设置index，长度保持一致
# dtype参数：设置数值类型

[-0.65684445  0.26929822  1.3605274  -0.34261423 -1.16807067]
0   -0.656844
1    0.269298
2    1.360527
3   -0.342614
4   -1.168071
dtype: float64
a   -0.656844
b    0.269298
c     1.36053
d   -0.342614
e    -1.16807
dtype: object

In [5]:
# Series 创建方法三：由标量创建

s = pd.Series(10, index = range(4))
print(s)
# 如果data是标量值，则必须提供索引。该值会重复，来匹配索引的长度

0    10
1    10
2    10
3    10
dtype: int64

In [6]:
# Series 名称属性：name

s1 = pd.Series(np.random.randn(5))
print(s1)
print('-----')
s2 = pd.Series(np.random.randn(5),name = 'test')
print(s2)
print(s1.name, s2.name,type(s2.name))
# name为Series的一个参数，创建一个数组的 名称
# .name方法：输出数组的名称，输出格式为str，如果没用定义输出名称，输出为None

s3 = s2.rename('hehehe')
print(s3)
print(s3.name, s2.name)
# .rename()重命名一个数组的名称，并且新指向一个数组，原数组不变

0   -0.395505
1   -0.309618
2   -1.772722
3    0.555618
4    0.828245
dtype: float64
-----
0   -1.209101
1   -0.171245
2    1.334069
3   -1.130203
4    0.346244
Name: test, dtype: float64
None test <class 'str'>
0   -1.209101
1   -0.171245
2    1.334069
3   -1.130203
4    0.346244
Name: hehehe, dtype: float64
hehehe test

In [7]:
# 位置下标，类似序列

s = pd.Series(np.random.rand(5))
print(s)
print(s[0],type(s[0]),s[0].dtype)
print(float(s[0]),type(float(s[0])))
#print(s[-1])
# 位置下标从0开始
# 输出结果为numpy.float格式，
# 可以通过float()函数转换为python float格式
# numpy.float与float占用字节不同
# s[-1]结果如何？

0    0.579765
1    0.780847
2    0.125632
3    0.069952
4    0.689654
dtype: float64
0.579765276491908 <class 'numpy.float64'> float64
0.579765276491908 <class 'float'>

In [8]:
# 标签索引

s = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s)
print(s['a'],type(s['a']),s['a'].dtype)
# 方法类似下标索引，用[]表示，内写上index，注意index是字符串

sci = s[['a','b','e']]
print(sci,type(sci))
# 如果需要选择多个标签的值，用[[]]来表示（相当于[]中包含一个列表）
# 多标签索引结果是新的数组

a    0.506112
b    0.420880
c    0.028353
d    0.078025
e    0.601060
dtype: float64
0.5061122865519555 <class 'numpy.float64'> float64
a    0.506112
b    0.420880
e    0.601060
dtype: float64 <class 'pandas.core.series.Series'>

In [9]:
# 切片索引

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = ['a','b','c','d','e'])
print(s1[1:4],s1[4])
print(s2['a':'c'],s2['c'])
print(s2[0:3],s2[3])
print('-----')
# 注意：用index做切片是末端包含

print(s2[:-1])
print(s2[::2])
# 下标索引做切片，和list写法一样

1    0.184919
2    0.976537
3    0.679831
dtype: float64 0.1453381383705603
a    0.396632
b    0.755302
c    0.280257
dtype: float64 0.28025739251385173
a    0.396632
b    0.755302
c    0.280257
dtype: float64 0.8478030274839009
-----
a    0.396632
b    0.755302
c    0.280257
d    0.847803
dtype: float64
a    0.396632
c    0.280257
e    0.432801
dtype: float64

In [10]:
# 布尔型索引

s = pd.Series(np.random.rand(3)*100)
s[4] = None  # 添加一个空值
print(s)
bs1 = s > 50
bs2 = s.isnull()
bs3 = s.notnull()
print(bs1, type(bs1), bs1.dtype)
print(bs2, type(bs2), bs2.dtype)
print(bs3, type(bs3), bs3.dtype)
print('-----')
# 数组做判断之后，返回的是一个由布尔值组成的新的数组
# .isnull() / .notnull() 判断是否为空值 (None代表空值，NaN代表有问题的数值，两个都会识别为空值)

print(s[s > 50])
print(s[bs3])
# 布尔型索引方法：用[判断条件]表示，其中判断条件可以是 一个语句，或者是 一个布尔型数组！

0    0.721906
1     44.6684
2     39.6198
4        None
dtype: object
0    False
1    False
2    False
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
0    False
1    False
2    False
4     True
dtype: bool <class 'pandas.core.series.Series'> bool
0     True
1     True
2     True
4    False
dtype: bool <class 'pandas.core.series.Series'> bool
-----
Series([], dtype: object)
0    0.721906
1     44.6684
2     39.6198
dtype: object

In [11]:
# 数据查看

s = pd.Series(np.random.rand(50))
print(s.head(10))
print(s.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

0    0.708727
1    0.596133
2    0.696134
3    0.648910
4    0.333022
5    0.006906
6    0.301146
7    0.680392
8    0.181166
9    0.946361
dtype: float64
45    0.006664
46    0.335671
47    0.785956
48    0.125858
49    0.210548
dtype: float64

In [12]:
# 重新索引reindex
# .reindex将会根据索引重新排序，如果当前索引不存在，则引入缺失值

s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s1 = s.reindex(['c','b','a','d'])
print(s1)
# .reindex()中也是写列表
# 这里'd'索引不存在，所以值为NaN

s2 = s.reindex(['c','b','a','d'], fill_value = 0)
print(s2)
# fill_value参数：填充缺失值的值

a    0.886780
b    0.980222
c    0.643690
dtype: float64
c    0.643690
b    0.980222
a    0.886780
d         NaN
dtype: float64
c    0.643690
b    0.980222
a    0.886780
d    0.000000
dtype: float64

In [13]:
# Series对齐

s1 = pd.Series(np.random.rand(3), index = ['Jack','Marry','Tom'])
s2 = pd.Series(np.random.rand(3), index = ['Wang','Jack','Marry'])
print(s1)
print(s2)
print(s1+s2)
# Series 和 ndarray 之间的主要区别是，Series 上的操作会根据标签自动对齐
# index顺序不会影响数值计算，以标签来计算
# 空值和任何值计算结果扔为空值

Jack     0.654530
Marry    0.949073
Tom      0.440926
dtype: float64
Wang     0.593093
Jack     0.930392
Marry    0.511801
dtype: float64
Jack     1.584922
Marry    1.460874
Tom           NaN
Wang          NaN
dtype: float64

In [14]:
# 删除：.drop

s = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s)
s1 = s.drop('n')
s2 = s.drop(['g','j'])
print(s1)
print(s2)
print(s)
# drop 删除元素之后返回副本(inplace=False)

n    0.264681
g    0.649616
j    0.282361
u    0.696953
r    0.071017
dtype: float64
g    0.649616
j    0.282361
u    0.696953
r    0.071017
dtype: float64
n    0.264681
u    0.696953
r    0.071017
dtype: float64
n    0.264681
g    0.649616
j    0.282361
u    0.696953
r    0.071017
dtype: float64

In [15]:
# 添加

s1 = pd.Series(np.random.rand(5))
s2 = pd.Series(np.random.rand(5), index = list('ngjur'))
print(s1)
print(s2)
s1[5] = 100
s2['a'] = 100
print(s1)
print(s2)
print('-----')
# 直接通过下标索引/标签index添加值

s3 = s1.append(s2)
print(s3)
print(s1)
# 通过.append方法，直接添加一个数组
# .append方法生成一个新的数组，不改变之前的数组

0    0.422254
1    0.903689
2    0.494325
3    0.818017
4    0.531272
dtype: float64
n    0.158950
g    0.826042
j    0.588629
u    0.170046
r    0.806040
dtype: float64
0      0.422254
1      0.903689
2      0.494325
3      0.818017
4      0.531272
5    100.000000
dtype: float64
n      0.158950
g      0.826042
j      0.588629
u      0.170046
r      0.806040
a    100.000000
dtype: float64
-----
0      0.422254
1      0.903689
2      0.494325
3      0.818017
4      0.531272
5    100.000000
n      0.158950
g      0.826042
j      0.588629
u      0.170046
r      0.806040
a    100.000000
dtype: float64
0      0.422254
1      0.903689
2      0.494325
3      0.818017
4      0.531272
5    100.000000
dtype: float64

In [16]:
# 修改

s = pd.Series(np.random.rand(3), index = ['a','b','c'])
print(s)
s['a'] = 100
s[['b','c']] = 200
print(s)
# 通过索引直接修改，类似序列

a    0.827940
b    0.541849
c    0.727504
dtype: float64
a    100.0
b    200.0
c    200.0
dtype: float64

In [17]:
# Dataframe 数据结构
# Dataframe是一个表格型的数据结构，“带有标签的二维数组”。
# Dataframe带有index（行标签）和columns（列标签）

data = {'name':['Jack','Tom','Mary'],
        'age':[18,19,20],
       'gender':['m','m','w']}
frame = pd.DataFrame(data)
print(frame)  
print(type(frame))
print(frame.index,'\n该数据类型为：',type(frame.index))
print(frame.columns,'\n该数据类型为：',type(frame.columns))
print(frame.values,'\n该数据类型为：',type(frame.values))
# 查看数据，数据类型为dataframe
# .index查看行标签
# .columns查看列标签
# .values查看值，数据类型为ndarray

   name  age gender
0  Jack   18      m
1   Tom   19      m
2  Mary   20      w
<class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
该数据类型为： <class 'pandas.core.indexes.range.RangeIndex'>
Index(['name', 'age', 'gender'], dtype='object')
该数据类型为： <class 'pandas.core.indexes.base.Index'>
[['Jack' 18 'm']
 ['Tom' 19 'm']
 ['Mary' 20 'w']]
该数据类型为： <class 'numpy.ndarray'>

In [19]:
# Dataframe 创建方法一：由数组/list组成的字典
# 创建方法:pandas.Dataframe()

data1 = {'a':[1,2,3],
        'b':[3,4,5],
        'c':[5,6,7]}
data2 = {'one':np.random.rand(3),
        'two':np.random.rand(3)}   # 这里如果尝试  'two':np.random.rand(4) 会怎么样？ 报错
# print(data1)
# print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
# print(df2.shape)
# print(df1)
# print(df2)
# 由数组/list组成的字典 创建Dataframe，columns为字典key，index为默认数字标签
# 字典的值的长度必须保持一致！

# df1 = pd.DataFrame(data1, columns = ['b','c','a','d'])
# print(df1)
# df1 = pd.DataFrame(data1, columns = ['b','c'])
# print(df1)
# columns参数：可以重新指定列的顺序，格式为list，如果现有数据中没有该列（比如'd'），则产生NaN值
# 如果columns重新指定时候，列的数量可以少于原数据

# df2 = pd.DataFrame(data2, index = ['f1','f2','f3'])  # 这里如果尝试  index = ['f1','f2','f3','f4'] 会怎么样？ 报错
# print(df2)
# index参数：重新定义index，格式为list，长度必须保持一致

In [20]:
# Dataframe 创建方法二：由Series组成的字典

data1 = {'one':pd.Series(np.random.rand(2)),
        'two':pd.Series(np.random.rand(3))}  # 没有设置index的Series
data2 = {'one':pd.Series(np.random.rand(2), index = ['a','b']),
        'two':pd.Series(np.random.rand(3),index = ['a','b','c'])}  # 设置了index的Series
# print(data1)
# print(data2)
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)
print(df1)
print(df2)
# 由Seris组成的字典 创建Dataframe，columns为字典key，index为Series的标签（如果Series没有指定标签，则是默认数字标签）
# Series可以长度不一样，生成的Dataframe会出现NaN值

        one       two
0  0.295498  0.116375
1  0.472886  0.240208
2       NaN  0.831330
        one       two
a  0.391684  0.259952
b  0.244147  0.049031
c       NaN  0.241055

In [21]:
# Dataframe 创建方法三：通过二维数组直接创建

# ar = np.random.rand(9).reshape(3,3)
# print(ar)
# df1 = pd.DataFrame(ar)
# df2 = pd.DataFrame(ar, index = ['a', 'b', 'c'], columns = ['one','two','three'])  # 可以尝试一下index或columns长度不等于已有数组的情况
# print(df1)
# print(df2)
# 通过二维数组直接创建Dataframe，得到一样形状的结果数据，如果不指定index和columns，两者均返回默认数字格式
# index和colunms指定长度与原数组保持一致

In [23]:

# Dataframe 创建方法四：由字典组成的列表

data = [{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
print(data)
df1 = pd.DataFrame(data)
df2 = pd.DataFrame(data, index = ['a','b'])
df3 = pd.DataFrame(data, columns = ['one','two'])
print(df1)
print(df2)
print(df3)
# 由字典组成的列表创建Dataframe，columns为字典的key，index不做指定则为默认数组标签
# colunms和index参数分别重新指定相应列及行标签

[{'one': 1, 'two': 2}, {'one': 5, 'two': 10, 'three': 20}]
   one  three  two
0    1    NaN    2
1    5   20.0   10
   one  three  two
a    1    NaN    2
b    5   20.0   10
   one  two
0    1    2
1    5   10

In [24]:
# Dataframe 创建方法五：由字典组成的字典

# data = {'Jack':{'math':90,'english':89,'art':78},
#        'Marry':{'math':82,'english':95,'art':92},
#        'Tom':{'math':78,'english':67}}
# df1 = pd.DataFrame(data)
# print(df1)
# 由字典组成的字典创建Dataframe，columns为字典的key，index为子字典的key

# df2 = pd.DataFrame(data, columns = ['Jack','Tom','Bob'])
# df3 = pd.DataFrame(data, index = ['a','b','c'])
# print(df2)
# print(df3)
# columns参数可以增加和减少现有列，如出现新的列，值为NaN
# index在这里和之前不同，并不能改变原有index，如果指向新的标签，值为NaN （非常重要！）

In [26]:
# 选择行与列

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)

data1 = df['a']
data2 = df[['a','c']]
print(data1,type(data1))
print(data2,type(data2))
print('-----')
# 按照列名选择列，只选择一列输出Series，选择多列输出Dataframe

data3 = df.loc['one']
data4 = df.loc[['one','two']]
print(data3,type(data3))
print(data4,type(data4))
# 按照index选择行，只选择一行输出Series，选择多行输出Dataframe

               a          b          c          d
one    11.489759  62.159886  75.456626  90.225037
two    73.234562  35.066302  65.905033  69.755401
three  26.961470  72.781760  74.075562  52.262677
one      11.489759
two      73.234562
three    26.961470
Name: a, dtype: float64 <class 'pandas.core.series.Series'>
               a          c
one    11.489759  75.456626
two    73.234562  65.905033
three  26.961470  74.075562 <class 'pandas.core.frame.DataFrame'>
-----
a    11.489759
b    62.159886
c    75.456626
d    90.225037
Name: one, dtype: float64 <class 'pandas.core.series.Series'>
             a          b          c          d
one  11.489759  62.159886  75.456626  90.225037
two  73.234562  35.066302  65.905033  69.755401 <class 'pandas.core.frame.DataFrame'>

In [27]:
# df[] - 选择列
# 一般用于选择列，也可以选择行

df = pd.DataFrame(np.random.rand(12).reshape(3,4)*100,
                   index = ['one','two','three'],
                   columns = ['a','b','c','d'])
print(df)
print('-----')

data1 = df['a']
data2 = df[['b','c']]  # 尝试输入 data2 = df[['b','c','e']]
print(data1)
print(data2)
# df[]默认选择列，[]中写列名（所以一般数据colunms都会单独制定，不会用默认数字列名，以免和index冲突）
# 单选列为Series，print结果为Series格式
# 多选列为Dataframe，print结果为Dataframe格式

data3 = df[:1]
#data3 = df[0]
#data3 = df['one']
print(data3,type(data3))
# df[]中为数字时，默认选择行，且只能进行切片的选择，不能单独选择（df[0]）
# 输出结果为Dataframe，即便只选择一行
# df[]不能通过索引标签名来选择行(df['one'])

# 核心笔记：df[col]一般用于选择列，[]中写列名

               a          b          c          d
one    73.240165  36.846020  16.154593  36.116241
two    31.924787  80.344756  89.166396  92.428623
three  63.315401  97.496821  50.983157  55.049851
-----
one      73.240165
two      31.924787
three    63.315401
Name: a, dtype: float64
               b          c
one    36.846020  16.154593
two    80.344756  89.166396
three  97.496821  50.983157
             a         b          c          d
one  73.240165  36.84602  16.154593  36.116241 <class 'pandas.core.frame.DataFrame'>

In [32]:
# df.loc[] - 按index选择行

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df2)
print('-----')

data1 = df1.loc['one']
data2 = df2.loc[1]
print(data1)
print(data2)
print('单标签索引\n-----')
# 单个标签索引，返回Series

data3 = df1.loc[['two','three','five']]
data4 = df2.loc[[4,2,1]]
print(data3)
print(data4)
print('多标签索引\n-----')
# 多个标签索引，如果标签不存在，则返回NaN    FutureWarning: 
# Passing list-likes to .loc or [] with any missing label will raise
# KeyError in the future, you can use .reindex() as an alternative.
# 顺序可变

data5 = df1.loc['one':'three']
data6 = df2.loc[1:3]
print(data5)
print(data6)
print('切片索引')
# 可以做切片对象
# 末端包含

# 核心笔记：df.loc[label]主要针对index选择行，同时支持指定index，及默认数字index

               a          b          c          d
one    69.335696  98.420172  38.994367  44.453379
two    36.573257  20.766957  85.883182  26.378672
three  74.161168  19.139235  39.438306  42.437103
four   17.461101  65.024647  12.800253  54.224364
           a          b          c          d
0  17.138538  74.070715  95.204150  48.601598
1  27.468143  13.477345   4.577978  14.471044
2  32.281364  71.213734  78.660350  17.309226
3  98.268384  72.141849  33.950246  84.681179
-----
a    69.335696
b    98.420172
c    38.994367
d    44.453379
Name: one, dtype: float64
a    27.468143
b    13.477345
c     4.577978
d    14.471044
Name: 1, dtype: float64
单标签索引
-----
               a          b          c          d
two    36.573257  20.766957  85.883182  26.378672
three  74.161168  19.139235  39.438306  42.437103
five         NaN        NaN        NaN        NaN
           a          b          c          d
4        NaN        NaN        NaN        NaN
2  32.281364  71.213734  78.660350  17.309226
1  27.468143  13.477345   4.577978  14.471044
多标签索引
-----
               a          b          c          d
one    69.335696  98.420172  38.994367  44.453379
two    36.573257  20.766957  85.883182  26.378672
three  74.161168  19.139235  39.438306  42.437103
           a          b          c          d
1  27.468143  13.477345   4.577978  14.471044
2  32.281364  71.213734  78.660350  17.309226
3  98.268384  72.141849  33.950246  84.681179
切片索引
ipykernel_launcher:19: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
ipykernel_launcher:20: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [33]:
# df.iloc[] - 按照整数位置（从轴的0到length-1）选择行
# 类似list的索引，其顺序就是dataframe的整数位置，从0开始计

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df.iloc[0])
print(df.iloc[-1])
#print(df.iloc[4])
print('单位置索引\n-----')
# 单位置索引
# 和loc索引不同，不能索引超出数据行数的整数位置

print(df.iloc[[0,2]])
print(df.iloc[[3,2,1]])
print('多位置索引\n-----')
# 多位置索引
# 顺序可变

print(df.iloc[1:3])
print(df.iloc[::2])
print('切片索引')
# 切片索引
# 末端不包含

               a          b          c          d
one    50.269825  23.223134  85.280156  23.254373
two    17.592175  94.290483  14.570692  13.151121
three  34.674427  31.986154  92.912968  91.586447
four   42.839468  64.293148  52.350646  89.999966
------
a    50.269825
b    23.223134
c    85.280156
d    23.254373
Name: one, dtype: float64
a    42.839468
b    64.293148
c    52.350646
d    89.999966
Name: four, dtype: float64
单位置索引
-----
               a          b          c          d
one    50.269825  23.223134  85.280156  23.254373
three  34.674427  31.986154  92.912968  91.586447
               a          b          c          d
four   42.839468  64.293148  52.350646  89.999966
three  34.674427  31.986154  92.912968  91.586447
two    17.592175  94.290483  14.570692  13.151121
多位置索引
-----
               a          b          c          d
two    17.592175  94.290483  14.570692  13.151121
three  34.674427  31.986154  92.912968  91.586447
               a          b          c          d
one    50.269825  23.223134  85.280156  23.254373
three  34.674427  31.986154  92.912968  91.586447
切片索引

In [38]:
# 布尔型索引
# 和Series原理相同

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

b1 = df < 20
print(b1,type(b1))
print(df[b1])  # 也可以书写为 df[df < 20]
print('------')
# 不做索引则会对数据每个值进行判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b2 = df['a'] > 50
print(b2,type(b2))
print(df[b2])  # 也可以书写为 df[df['a'] > 50]
print('------')
# 单列做判断
# 索引结果保留 单列判断为True的行数据，包括其他列

b3 = df[['a','b']] > 50
print(b3,type(b3))
print(df[b3])  # 也可以书写为 df[df[['a','b']] > 50]
print('------')
# 多列做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

b4 = df.loc[['one','three']] < 50
print(b4,type(b4))
print(df[b4])  # 也可以书写为 df[df.loc[['one','three']] < 50]
print('------__________')

# b4 = df.loc['three'] < 30
# print(b4,type(b4))
# b4.index=["one","two","three","four"]
# print(b4,type(b4))
# print(df[b4])  # 报错 无法对单行做判断 取列
# print('------')
# 多行做判断
# 索引结果保留 所有数据：True返回原数据，False返回值为NaN

               a          b          c          d
one    71.108931  58.374062  99.871070  63.411853
two    36.301582  24.062430  71.800225  30.165474
three  29.243486  90.724976  65.923272  10.211458
four   74.869101  39.463191  14.692922  67.549249
------
           a      b      c      d
one    False  False  False  False
two    False  False  False  False
three  False  False  False   True
four   False  False   True  False <class 'pandas.core.frame.DataFrame'>
        a   b          c          d
one   NaN NaN        NaN        NaN
two   NaN NaN        NaN        NaN
three NaN NaN        NaN  10.211458
four  NaN NaN  14.692922        NaN
------
one       True
two      False
three    False
four      True
Name: a, dtype: bool <class 'pandas.core.series.Series'>
              a          b          c          d
one   71.108931  58.374062  99.871070  63.411853
four  74.869101  39.463191  14.692922  67.549249
------
           a      b
one     True   True
two    False  False
three  False   True
four    True  False <class 'pandas.core.frame.DataFrame'>
               a          b   c   d
one    71.108931  58.374062 NaN NaN
two          NaN        NaN NaN NaN
three        NaN  90.724976 NaN NaN
four   74.869101        NaN NaN NaN
------
           a      b      c      d
one    False  False  False  False
three   True  False  False   True <class 'pandas.core.frame.DataFrame'>
               a   b   c          d
one          NaN NaN NaN        NaN
two          NaN NaN NaN        NaN
three  29.243486 NaN NaN  10.211458
four         NaN NaN NaN        NaN
------__________
a     True
b    False
c    False
d     True
Name: three, dtype: bool <class 'pandas.core.series.Series'>
one       True
two      False
three    False
four      True
Name: three, dtype: bool <class 'pandas.core.series.Series'>
              a          b          c          d
one   71.108931  58.374062  99.871070  63.411853
four  74.869101  39.463191  14.692922  67.549249
------

In [39]:
# 多重索引：比如同时索引行和列
# 先选择列再选择行 —— 相当于对于一个数据，先筛选字段，再选择数据量

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   index = ['one','two','three','four'],
                   columns = ['a','b','c','d'])
print(df)
print('------')

print(df['a'].loc[['one','three']])   # 选择a列的one，three行
print(df[['b','c','d']].iloc[::2])   # 选择b，c，d列的one，three行
print(df[df['a'] < 50].iloc[:2])   # 选择满足判断索引的前两行数据

               a          b          c          d
one    80.940081  77.158874  12.674440  99.391796
two    94.441344  46.776781  74.866821  84.810324
three  92.169993  69.685866  81.677969  43.036726
four   52.753566  81.703227  20.821623  33.065038
------
one      80.940081
three    92.169993
Name: a, dtype: float64
               b          c          d
one    77.158874  12.674440  99.391796
three  69.685866  81.677969  43.036726
Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [40]:
# 数据查看、转置

df = pd.DataFrame(np.random.rand(16).reshape(8,2)*100,
                   columns = ['a','b'])
print(df.head(2))
print(df.tail())
# .head()查看头部数据
# .tail()查看尾部数据
# 默认查看5条

print(df.T)
# .T 转置

           a          b
0  54.743950  14.859229
1  69.191938  86.947906
           a          b
3  75.840379  35.207021
4  10.608597  61.484335
5  40.955099  79.136869
6  23.983109  47.857936
7  19.873267  81.762089
           0          1          2          3          4          5  \
a  54.743950  69.191938  95.131855  75.840379  10.608597  40.955099
b  14.859229  86.947906  47.674380  35.207021  61.484335  79.136869

           6          7
a  23.983109  19.873267
b  47.857936  81.762089

In [41]:
# 添加与修改

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

df['e'] = 10
df.loc[4] = 20
print(df)
# 新增列/行并赋值

df['e'] = 20
df[['a','c']] = 100
print(df)
# 索引后直接修改值

           a          b          c          d
0  82.462817  91.918851  75.022529  35.506928
1  93.741138  85.449692  73.858088   4.779435
2   8.903185  81.638551  18.964810  33.153457
3  10.943903  88.491762   1.092237  84.812522
           a          b          c          d   e
0  82.462817  91.918851  75.022529  35.506928  10
1  93.741138  85.449692  73.858088   4.779435  10
2   8.903185  81.638551  18.964810  33.153457  10
3  10.943903  88.491762   1.092237  84.812522  10
4  20.000000  20.000000  20.000000  20.000000  20
     a          b    c          d   e
0  100  91.918851  100  35.506928  20
1  100  85.449692  100   4.779435  20
2  100  81.638551  100  33.153457  20
3  100  88.491762  100  84.812522  20
4  100  20.000000  100  20.000000  20

In [49]:
# 删除  del / drop()

df = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df)

del df['a']
print(df)
print('-----')
# del语句 - 删除列

print(df.drop(0))
print(df.drop([1,2]))
print(df)
print('-----')
# drop()删除行，inplace=False → 删除后生成新的数据，不改变原数据
DF8 =df.drop(['d'], axis = 1)
print(DF8)
print(df.drop(['d'], axis = 1))#
print(df,"dssdf")
# drop()删除列，需要加上axis = 1，inplace=False → 删除后生成新的数据，不改变原数据

           a          b          c          d
0  93.314257  24.403442  63.908569  21.408808
1   3.482708  90.735245  89.993881  32.439597
2  12.938355  44.637412  58.802012  14.325646
3  79.562433  61.974907  62.848169  79.058144
           b          c          d
0  24.403442  63.908569  21.408808
1  90.735245  89.993881  32.439597
2  44.637412  58.802012  14.325646
3  61.974907  62.848169  79.058144
-----
           b          c          d
1  90.735245  89.993881  32.439597
2  44.637412  58.802012  14.325646
3  61.974907  62.848169  79.058144
           b          c          d
0  24.403442  63.908569  21.408808
3  61.974907  62.848169  79.058144
           b          c          d
0  24.403442  63.908569  21.408808
1  90.735245  89.993881  32.439597
2  44.637412  58.802012  14.325646
3  61.974907  62.848169  79.058144
-----
           b          c
0  24.403442  63.908569
1  90.735245  89.993881
2  44.637412  58.802012
3  61.974907  62.848169
           b          c
0  24.403442  63.908569
1  90.735245  89.993881
2  44.637412  58.802012
3  61.974907  62.848169
           b          c          d
0  24.403442  63.908569  21.408808
1  90.735245  89.993881  32.439597
2  44.637412  58.802012  14.325646
3  61.974907  62.848169  79.058144 dssdf

In [50]:
# 对齐

df1 = pd.DataFrame(np.random.randn(10, 4), columns=['A', 'B', 'C', 'D'])
df2 = pd.DataFrame(np.random.randn(7, 3), columns=['A', 'B', 'C'])
print(df1 + df2)
# DataFrame对象之间的数据自动按照列和索引（行标签）对齐

          A         B         C   D
0  0.467805 -2.262192  1.597412 NaN
1 -1.736723 -0.461554 -1.959471 NaN
2  0.720017  1.365267  1.159157 NaN
3  0.241534 -0.140154  0.924867 NaN
4 -1.423288 -0.929736  0.455688 NaN
5  1.062498 -0.755947  1.178373 NaN
6  1.781044 -0.916658 -0.783096 NaN
7       NaN       NaN       NaN NaN
8       NaN       NaN       NaN NaN
9       NaN       NaN       NaN NaN

In [51]:
# 排序1 - 按值排序 .sort_values
# 同样适用于Series

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_values(['a'], ascending = True))  # 升序
print(df1.sort_values(['a'], ascending = False))  # 降序
print('------')
# ascending参数：设置升序降序，默认升序
# 单列排序

df2 = pd.DataFrame({'a':[1,1,1,1,2,2,2,2],
                  'b':list(range(8)),
                  'c':list(range(8,0,-1))})
print(df2)
print(df2.sort_values(['a','c']))
# 多列排序，按列顺序排序

           a          b          c          d
0  71.796341  36.347824  40.456224   3.854152
1  76.126611  11.661442  22.322000  62.558092
2  37.646850  64.818521  69.274939  22.901258
3  84.001801  96.441477   0.539918  43.140794
           a          b          c          d
2  37.646850  64.818521  69.274939  22.901258
0  71.796341  36.347824  40.456224   3.854152
1  76.126611  11.661442  22.322000  62.558092
3  84.001801  96.441477   0.539918  43.140794
           a          b          c          d
3  84.001801  96.441477   0.539918  43.140794
1  76.126611  11.661442  22.322000  62.558092
0  71.796341  36.347824  40.456224   3.854152
2  37.646850  64.818521  69.274939  22.901258
------
   a  b  c
0  1  0  8
1  1  1  7
2  1  2  6
3  1  3  5
4  2  4  4
5  2  5  3
6  2  6  2
7  2  7  1
   a  b  c
3  1  3  5
2  1  2  6
1  1  1  7
0  1  0  8
7  2  7  1
6  2  6  2
5  2  5  3
4  2  4  4

In [52]:
# 排序2 - 索引排序 .sort_index

df1 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = [5,4,3,2],
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.random.rand(16).reshape(4,4)*100,
                  index = ['h','s','x','g'],
                   columns = ['a','b','c','d'])
print(df1)
print(df1.sort_index())
print(df2)
print(df2.sort_index())
# 按照index排序
# 默认 ascending=True, inplace=False

           a          b          c          d
5  49.884693  81.937507  55.747611  21.017315
4  65.936936  71.626750  78.792014  76.228215
3  21.262254  87.319259  63.274237  28.187477
2  57.879644  74.716272  23.548198  74.132549
           a          b          c          d
2  57.879644  74.716272  23.548198  74.132549
3  21.262254  87.319259  63.274237  28.187477
4  65.936936  71.626750  78.792014  76.228215
5  49.884693  81.937507  55.747611  21.017315
           a          b          c          d
h   5.521021  94.505237  25.385383  43.866351
s  19.324657  52.434477  94.829080  52.578108
x  13.786810  42.650587  97.643777  16.994520
g  54.780064  57.457665  99.447355  23.706289
           a          b          c          d
g  54.780064  57.457665  99.447355  23.706289
h   5.521021  94.505237  25.385383  43.866351
s  19.324657  52.434477  94.829080  52.578108
x  13.786810  42.650587  97.643777  16.994520